<section id ="cliente" class="description_content">

    <div  class="beer background_content">
        <h1>Editar datos</h1>
    </div>
    <div class="text-content container"> 
        <div class="col-md-4">
            <div class="img-section">
                <img src="images/limes.jpg" width="100%">
            </div>

        </div>

        <div class="col-md-8 col-md-offset-0">
            <div class="contact-form">
                <form novalidate name="form" id="cliente-form" role="form" ng-submit="form.$valid">

                    <div ng-messages="form.$error">
                        <div ng-message="required">Diligenciar todos los datos</div>
                    </div>
                    <fieldset>                     
                        <!-- Name -->
                        <div class="form-group col-md-12" ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}" >
                            <label for="name" class="col-md-2 right-text">Nombre usuario</label>
                            <div class="col-lg-6 col-md-6 col-xs-6">
                                <input id="name" name="name" class="form-control" type="text" ng-model="currentRecord.username"  />
                            </div>
                        </div>
                        <!-- Ubicacion --> 

                        <div class="form-group col-md-12" ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}" >
                            <label for="direccion" class="col-md-2 right-text">Contraseña</label>
                            <div class="col-lg-6 col-md-6 col-xs-6">
                                <input id="id" name="id" class="form-control" type="password" ng-model="currentRecord.id"  required />
                            </div>
                        </div>
                    </fieldset>
                    <div class="col-md-12 social_info">
                        <div class="col-md-2"></div> 
                        <button type="button" class="text-center btn form-btn " ui-sref="clientesEdit({id:currentRecord.id})">Ingresar</button>   
                        <button type="button" class="text-center btn form-btn3" ui-sref="clientesCreate">Registrarse</button>     
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>