<section id ="sucursal" class="description_content">
    <div  class="beer background_content">
        <h1>Elige una Sucursal para disfrutar de nuestros servicios</h1>
    </div>
    <div class="text-content container"> 
        <div class="col-md-4">
            <div class="img-section">
                <img src="images/beer_spec.jpg" width="100%">
            </div>

        </div>

        <div class="col-md-8 col-md-offset-0">

            <table class="table table-condensed" >
                <thead>
                    <tr class="text text-center">
                        <th> Nombre</th> 
                        <th> Ubicación</th>   
                        <th> Dirección</th> 
                        <th> Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" ng-repeat="record in records">
                        <td id="{{$index}}-name">{{record.name}}</td>
                        <td id="{{$index}}-ubicacion">{{record.ubicacion}}</td>
                        <td id="{{$index}}-direccion">{{record.direccion}}</td>
                        <td>
                            <button id="{{$index}}-edit-btn" class="btn form-btn" ui-sref="sucursalEdit({sucursalId:record.id})"><span class="glyphicon glyphicon-edit"></span> Detalles</button>
                            <button id="{{$index}}-delete-btn" class="btn  form-btn2" ng-click="ctrl.deleteRecord(record.id)"><span class="glyphicon glyphicon-minus"></span> Eliminar</button>

                        </td>
                    </tr>
                    <tr class="text text-justify">

                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td >
                            <button class="btn form-btn" ui-sref="sucursalCreate"><span class="glyphicon glyphicon-plus-sign"></span> Agregar sucursal</button>    
                            <button class="btn form-btn2" ui-sref="sucursalesList"><span class="glyphicon glyphicon-user"></span> Finalizar edición</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</section>
