<div class="col-md-12">
    <div class="container-fluid">
        <div class="row">
            <button class="btn btn-default" ui-sref="platoEspCreate">Create new Plato Especifico</button></div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Descripcion</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="record in records">
                        <td id="{{$index}}-name">{{record.name}}</td>
                        <td id="{{$index}}-precio">{{record.precio}}</td>
                        <td id="{{$index}}-descripcion">{{record.descripcion}}</td>

                        <td>
                            <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ui-sref="platoEspEdit({platoEspId: record.id})"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                            <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(record.id)"><span class="glyphicon glyphicon-minus"></span> Remove</button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>