
<section id ="cliente" class="description_content">

    <div  class="beer background_content">
        <h1>Editar datos plato</h1>
    </div>
    <div class="text-content container"> 
        <div class="col-md-4">
            <div class="img-section">
                <img src="images/limes.jpg" width="100%">
            </div>

        </div>

        <div class="col-md-8 col-md-offset-0">
            <div class="contact-form">
                <form novalidate name="form" id="platoform" role="form" ng-submit="form.$valid && ctrl.saveRecord(currentRecord.id)">

                    <div ng-messages="form.$error">
                        <div ng-message="required">Llenar todos los espacios!</div>
                    </div>

                    <fieldset>
                        <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id"/>
                        <!-- Name -->
                        <div class="form-group col-md-12" ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}" >
                            <label for="name" class="col-md-2 right-text">Nombre plato </label>
                            <div class="col-lg-6 col-md-6 col-xs-6">
                                <input id="name" name="nombre" class="form-control" type="text" ng-model="currentRecord.nombre" ng-init="currentRecord.nombre" required />
                            </div>
                        </div>
                        <!-- Ubicacion --> 
                        <div class="form-group col-md-12" ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}" >
                            <label for="ubicacion" class="col-md-2 right-text">Precio</label>
                            <div class="col-lg-6 col-md-6 col-xs-6">
                                <input id="name" name="precio" class="form-control" type="text" ng-model="currentRecord.precio" ng-init="currentRecord.precio" required />
                            </div>
                        </div>
                        <!-- Direccion -->
                        <div class="form-group col-md-12" ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}" >
                            <label for="direccion" class="col-md-2 right-text">Descripción</label>
                            <div class="col-lg-6 col-md-6 col-xs-6">
                                <input id="name" name="descripcion" class="form-control" type="text" ng-model="currentRecord.descripcion" ng-init="currentRecord.descripcion" required />
                            </div>
                        </div>
                    </fieldset>
                    <div class="col-md-12">
                        <div class="col-md-2"></div> 
                        <button type="button" class="text-center  form-btn2" ui-sref='platosListAdmin'>Cancelar</button>
                        <button type="submit" class="text-center  form-btn" >Guardar</button>    
                    </div>
                </form>
            </div>
        </div>

</section>